<form method="post" action="{{ path('currency_operation_delete', {'id': currency_operation.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ currency_operation.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
