{% extends 'base.html.twig' %}

{% block title %}Edit CurrencyOperation{% endblock %}

{% block body %}
    <h1>Edit CurrencyOperation</h1>

    {{ include('currency_operation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('currency_operation_index') }}">back to list</a>

    {{ include('currency_operation/_delete_form.html.twig') }}
{% endblock %}
