{% extends 'base.html.twig' %}

{% block title %}CurrencyOperation index{% endblock %}

{% block body %}
    <h1>CurrencyOperation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstUnit</th>
                <th>FirstCurrency</th>
                <th>SecondUnit</th>
                <th>SecondCurrency</th>
                <th>Result</th>
                <th>ResultCurrency</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for currency_operation in currency_operations %}
            <tr>
                <td>{{ currency_operation.id }}</td>
                <td>{{ currency_operation.firstUnit }}</td>
                <td>{{ currency_operation.firstCurrency }}</td>
                <td>{{ currency_operation.secondUnit }}</td>
                <td>{{ currency_operation.secondCurrency }}</td>
                <td>{{ currency_operation.result }}</td>
                <td>{{ currency_operation.resultCurrency }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('currency_operation_show', {'id': currency_operation.id}) }}">show</a>
                    <a class="btn btn-warning" href="{{ path('currency_operation_edit', {'id': currency_operation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('currency_operation_new') }}">Create new</a>
{% endblock %}
