{% extends 'base.html.twig' %}

{% block title %}New CurrencyOperation{% endblock %}

{% block body %}
    <h1>Create new CurrencyOperation</h1>

    {{ include('currency_operation/_form.html.twig') }}

    <a href="{{ path('currency_operation_index') }}">back to list</a>
{% endblock %}
