{% extends 'base.html.twig' %}

{% block title %}CurrencyOperation{% endblock %}

{% block body %}
    <h1>CurrencyOperation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ currency_operation.id }}</td>
            </tr>
            <tr>
                <th>FirstUnit</th>
                <td>{{ currency_operation.firstUnit }}</td>
            </tr>
            <tr>
                <th>FirstCurrency</th>
                <td>{{ currency_operation.firstCurrency }}</td>
            </tr>
            <tr>
                <th>SecondUnit</th>
                <td>{{ currency_operation.secondUnit }}</td>
            </tr>
            <tr>
                <th>SecondCurrency</th>
                <td>{{ currency_operation.secondCurrency }}</td>
            </tr>
            <tr>
                <th>Result</th>
                <td>{{ currency_operation.result }}</td>
            </tr>
            <tr>
                <th>ResultCurrency</th>
                <td>{{ currency_operation.resultCurrency }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('currency_operation_index') }}">back to list</a>
    <a class="btn btn-primary" href="{{ path('currency_operation_edit', {'id': currency_operation.id}) }}">edit</a>

    {{ include('currency_operation/_delete_form.html.twig') }}
{% endblock %}
